@font-face {
    font-family: 'MrsEavesMediumItalic';
    src: url('../fonts/MrsEavesItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesBold';
    src: url('../fonts/MrsEavesBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesBoldBold';
    src: url('../fonts/MrsEavesBoldBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesFractions';
    src: url('../fonts/MrsEavesFractions.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesFractionsFractions';
    src: url('../fonts/MrsEavesFractionsFractions.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesFractionsRegular';
    src: url('../fonts/MrsEavesFractionsRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesItalic';
    src: url('../fonts/MrsEavesItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesItalicItalic';
    src: url('../fonts/MrsEavesItalicItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLig-Bold';
    src: url('../fonts/MrsEavesJustLig-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLig-Italic';
    src: url('../fonts/MrsEavesJustLig-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLigBold';
    src: url('../fonts/MrsEavesJustLigBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLigItalic';
    src: url('../fonts/MrsEavesJustLigItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLigRegular';
    src: url('../fonts/MrsEavesJustLigRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesJustLigRoman';
    src: url('../fonts/MrsEavesJustLigRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesPetiteCaps';
    src: url('../fonts/MrsEavesPetiteCaps.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesPetiteCapsPetiteCap';
    src: url('../fonts/MrsEavesPetiteCapsPetiteCap.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesPetiteCapsRegular';
    src: url('../fonts/MrsEavesPetiteCapsRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesRoman';
    src: url('../fonts/MrsEavesRoman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesRomanRegular';
    src: url('../fonts/MrsEavesRomanRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesSmallCaps';
    src: url('../fonts/MrsEavesSmallCaps.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesSmallCapsRegular';
    src: url('../fonts/MrsEavesSmallCapsRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesSmallCapsSmallCaps';
    src: url('../fonts/MrsEavesSmallCapsSmallCaps.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
	text-align: center;
        font-family: 'MrsEavesMediumItalic';
        font-size: 14pt;
        color: #3A3938;
}

#container {
/*
	width: 950px;
	border: solid red 1px;
	margin: 0 auto;
*/
	position: relative;
	margin:0;
	padding:0;
/* 	border: solid red 1px; */
	width: 950px;
	height: auto;
	margin: 0 auto;

}


#names {
	position: relative;
	margin: 0 auto;
	padding-top: 30px;
}

#navbar {
	position:absolute;
	left:86px;
}

#navbar ul {
	list-style-type:none;
	width:950px;
	height:20px;
	margin-top: -27px;

}

#navbar ul li {
	float:left;
	margin-right: 42px;
}

#navbar ul li a {
	font-weight: bold;
	height:20px;
	padding-top:0px;
	display:block;
	text-decoration:none;
	font-family: 'MrsEavesPetiteCapsRegular';
	font-size:8pt;
	color:#42283F;
	cursor:pointer;
	text-transform:uppercase;
}

/* --------------------------welcome page---------------------------------- */

#welcome_photo {
	background-image: url('../images/welcome_picture.png');
	width: 533px;
	height: 367px;
	margin-top: 10px;
	margin: 10px auto;	
}

/* ------------------------ engagement ----------------------------------- */
#engagement_photo {
	background-image: url('../images/engagement_photo.png');
	width: 531px;
	height:312px;
	margin-top: 10px;
	margin: 15px auto;
	
}

#meeting {
	text-align: justify;
	width: 520px;
	margin-left: 220px;
/* 	line-height: -10px; */
}

#meeting h3 {
    font-family: 'MrsEavesPetiteCapsRegular';
    font-size: 12pt;
    color: #42283F;
	
}

#meeting p {
	font-family: 'MrsEavesSmallCapsRegular';
	font-size: 13pt;
	color: #3A3938;
	
}

/* ---------------------- wedding details -------------------------------------*/

#venue_photo {
	background-image: url('../images/fairmont.png');
	width: 531px;
	height:312px;
	margin-top: 0px;
	margin: 15px auto;
	padding-bottom: 5px;
	background-repeat: no-repeat;
}

#venue {
	text-align: justify;
	width: 520px;
	margin-left: 220px;
}

#venue h3 {
    font-family: 'MrsEavesPetiteCapsRegular';
    font-size: 12pt;
    color: #42283F;
    margin-top: -20px;
}

#venue p {
	font-family: 'MrsEavesMediumItalic';
	font-size: 12pt;
	color: #3A3938;
	margin-top: -10px;
	padding-bottom: 10px;
}

	#accommodation {
		text-align: left;
		margin-left: 200px;
		width: 600px;
		margin-top: 30px;
	}
	
	#accommodation h3 {
    	font-family: 'MrsEavesPetiteCapsRegular';
    	font-size: 12pt;
    	color: #42283F;
	}
	
	#accommodation p {
		font-family: 'MrsEavesMediumItalic';
		font-size: 12pt;
		color: #3A3938;
		margin-top: -15px;
	}

/* ---------------------- ceremony details -------------------------------------*/
#ceremony_photo {
	background-image: url('../images/ceremony.png');
	width: 531px;
	height:312px;
	margin-top: 10px;
	margin: 15px auto;
	
}

#ceremony {
	text-align: justify;
	width: 520px;
	margin-left: 220px;
	margin-top: -15px;

}

#ceremony h3 {
    font-family: 'MrsEavesPetiteCapsRegular';
    font-size: 12pt;
    color: #42283F;

	
}

#ceremony p {
	font-family: 'MrsEavesMediumItalic';
	font-size: 12pt;
	margin-top: -15px;
	color: #3A3938;
	padding-bottom: 10px;

}

/* ---------------------- reception details -------------------------------------*/
#reception_photo {
	background-image: url('../images/reception.png');
	width: 531px;
	height:312px;
	margin-top: 10px;
	margin: 15px auto;
	
}

#reception {
	text-align: justify;
	width: 520px;
	margin-left: 220px;
	margin-top: -15px;
}

#reception h3 {
    font-family: 'MrsEavesPetiteCapsRegular';
    font-size: 12pt;
    color: #42283F;
	
}

#reception p {
	font-family: 'MrsEavesMediumItalic';
	font-size: 12pt;
	color: #3A3938;
	margin-top: -15px;

	
}

/* ---------------------- rsvp -------------------------------------*/

#texthere {
	text-align: justify;
	width: 520px;
	margin-left: 220px;
}

#texthere h3 {
    font-family: 'MrsEavesPetiteCapsRegular';
    font-size: 12pt;
    color: #42283F;
	
}

#texthere p {
	font-family: 'MrsEavesMediumItalic';
	font-size: 11pt;
	color: #3A3938;
	margin-top: -15px;

	
}

/* ---------------------- registry -------------------------------------*/

#registry {
	text-align: left;
	margin-left: 200px;
	width: 600px;
	margin-top: 30px;
}
	
#registry h3 {
	font-family: 'MrsEavesPetiteCapsRegular';
	font-size: 12pt;
	color: #42283F;
}
	
	#registry p {
		font-family: 'MrsEavesMediumItalic';
		font-size: 11pt;
		color: #3A3938;
		margin-top: -15px;
	}
	
	#registry_photo {
		background-image: url('../images/logo_bed_bath_beyond.png');
		width: 410px;
		height: 150px;
		margin-top: 0px;
		margin: 15px auto;
		padding-bottom: 5px;
		background-repeat: no-repeat;
	}
