@font-face {
    font-family: 'MrsEavesMediumItalic';
    src: url('../fonts/MrsEavesItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesPetiteCapsRegular';
    src: url('../fonts/MrsEavesPetiteCapsRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
